* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  /* background-color: #e0f2f1; */
  background: url("./assets/background.png");
  /* background-position: center; */
  background-attachment: fixed;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}
